body {
    background-color: lightblue;
    font-family: Arial, sans-serif; 
}

h1 {
    text-align: center;
}

.table {
    background-color: burlywood;
    border: solid chocolate 2px; 
    border-radius: 15px;
    margin: 30px auto;
    border-collapse: separate; 
    border-spacing: 0;         
    overflow: hidden;          
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.table th, .table td {
    background-color: lightblue;
    min-width: 100px;
    text-align: center;
    padding: 12px 20px;       
    border-bottom: 1px solid chocolate;
    border-right: 1px solid chocolate;  
}


th:last-child, td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

th {
    font-weight: bold;
    background-color: #a0d8ef; 
}